@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:wght@400;600;700;900&display=swap');

/* css reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #fff;
    --secondary-color: #000;
    --tertiary-color: #FAFBFF;
    --accent-color: #5932EA;
    --font-family: "Poppins", sans-serif;
    --menu-text-color: #9197B3;
    --menu-hover-color: #f0f0f0;
}

body{
    display: grid;
    grid-template-columns: 306px 1fr;
    height: 100vh;
    transition: all .4s ease;
    font-family: var(--font-family);
}

aside{
    grid-column: 1 / 2;
    background-color: var(--primary-color);
    padding: 36px 28px 72px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.brand{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 53px;
}

.brand span{
    font-size: 26px;
    font-weight: 600;
}
.brand img.logo{
    width: 37px;
    height: 37px;
}


.menu  ul{
    list-style-type: none;
}

.menu  li{
    display: flex;
    align-items: center;
    padding: 11px;
    border-radius: 8px;
    color: var(--menu-text-color);
    margin-bottom: 18px;
}
.user-info {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between image and text */
}

.user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user-details {
    display: flex;
    flex-direction: column;
}

.user-details h3 {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.arrow {
    margin-left: 5px; /* Space between name and arrow */
    font-size: 14px;
}

.menu li svg{
    margin-right: 14px;
}

.menu li :nth-child(2){
    flex-grow: 1;
}

.menu li.active{
    background-color: var(--accent-color);
    color: var(--primary-color);
}

.menu li.active svg > *{
    stroke: var(--primary-color);
}

.menu li:hover{
    background-color: var(--menu-hover-color);
    color: var(--secondary-color);
}
.menu li:hover svg > *{
    stroke: var(--secondary-color);
}


main{
    grid-column: 2 / 3;
    background-color: var(--tertiary-color);
}
.user-info img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

@media(max-width: 48em){ /* 768px/16px = 48em*/
    body{
        grid-template-columns: 102px 1fr;
    }
}

